  <div class="container-fluid bground">
    <div class="row r1"></div>
    <div class="row r2">
      <div class="col-4"></div>
      <div class="col-12 col-md-4 column">
        <div class="fpassword">Forgot Password?</div>
        <div class="enterEmail">Email address</div>
        <div class="pholder"><input class="form-control" [(ngModel)]="email" name="email" type="text"
            placeholder="Enter your Email"></div>
        <div class="enterEmail">Mobile Number</div>
        <div class="pholder"><input class="form-control" [(ngModel)]="mobile" name="mobile" type="text"
            placeholder="Mobile Numebr"></div>

        <div class="enterEmail">New Password</div>
        <div class="pholder"><input class="form-control" [(ngModel)]="password" name="passwrod" type="text"
            placeholder="password"></div>
        <div class="bdiv"><button (click)="forget()" class="button">Reset Password</button></div>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row r3"></div>
  </div>
