<div class=" container-fluid">
  <div class="row" style="height: 89vh;">
    <div class="col-md-6 bg-warning d-flex justify-content-center align-items-center"><i class="fas fa-chart-bar "
        style="font-size:250px ;"></i></div>
    <div class="col-md-6 bg-info d-flex flex-column justify-content-center align-items-center homePageText">

      <div style="color: orange;">Welcome To</div>
      <div style="color: whitesmoke;">Sales & Inventory Management</div>
      <div style="color: greenyellow;">System</div>



    </div>
  </div>
</div>
